body {
    margin: 0;
    padding: 0;
}

.header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font: 50px;
    background: rgb(83, 58, 194);
    color: azure;
    font-family: 'Libre Baskerville', serif;
}

.icon {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px 15px;
    transform: scale(0.8);
    padding: 0;
    cursor: pointer;
    z-index: 20;
}

.bar {
    display: block;
    width: 50px;
    height: 5px;
    background: darkblue;
    position: absolute;
    transition: all 0.3s;
}

.bar1 {
    margin-top: 9px;
}

.bar2 {
    margin-top: 23px;
}

.bar3 {
    margin-top: 37px;
}

.icon:hover .bar1 {
    transform: rotate(45deg) scaleX(0.7);
    margin: 22px;
}

.icon:hover .bar2 {
    opacity: 0;
}

.icon:hover .bar3 {
    transform: rotate(-45deg) scaleX(0.7);
    margin: 22px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu-con {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -100%;
    transition: all 0.5s;
}

.body {
    display: flex;
}

.box input[type="text"] {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    color: azure;
    cursor: pointer;
}

.box input[type="submit"] {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    background: blueviolet;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: rgb(107, 20, 189)
}

.left {
    display: block;
    align-items: left;
}

.card {
    display: inline-block;
    text-align: center;
    /* position: relative; */
    width: 15%;
    height: 18px;
    margin: 0 15px 20px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.card:hover {
    width: 20%;
}

.card img {
    display: block;
    /* position: */
    background-position: center;
    /* height: 180px; */
    width: 100%;
    top: 0;
}

.right {
    width: 33%;
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: right;
    text-decoration: none;
    justify-content: right;
}

footer {
    font-size: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}